body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.glasses__layout {
  background-image: url(../public/glassesImage/background.jpg);
  background-size: cover;
  position: relative;
  z-index: 100;
  padding-bottom: 50px;

}
.glasses__layout-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}
.header {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  text-transform: uppercase;
  color: white;

}
.myBody .model {
  height: 60vh;
  display: flex;
  padding: 30px 0 50px 0;
  justify-content: space-around;
}
.myBody .img img {
  height: 100%;
}
.myBody .img {
  position: relative;

}
.glasses__img {
  position: absolute;
  width: 120px;
  object-fit: scale-down;
  top: -15%;
  left: 21.8%;
  opacity: 0.8;
}
.info {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: max-content;
  padding: 10px;
  text-align: left;
  opacity: 0.7;
  color: white;
  font-size: 14px;
}
.info h4 {
  font-size: 18px;
  color: green;
}
p {
  margin: 0;
}

.glasses {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.glasses img {
  width: 100%;
  cursor: pointer;
}